{% extends "base.jinja" %}

{% block title %}Not found{% endblock %}

{% block main %}
  <div class="mx-auto w-1/3 space-y-4 bg-red-500/25 p-8">
    <h1 class="text-3xl">Not found</h1>
    <p>How did you get here?</p>
  </div>
{% endblock %}
