<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {% assets "../tailwind.css", output="tailwind.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {% endassets %}

      {% assets "../js/temporal.js", output="temporal.js" %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}

      <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=" />

      <title>
        {% block fulltitle %}{% block title %}{% endblock %} — Fantasy TF2{% endblock %}
      </title>
    {% endblock head %}
  </head>

  <body class="bg-blue-100 dark:bg-red-950 dark:text-white">
    <header
      class="mx-auto mt-4 mb-12 flex max-w-3xl items-baseline justify-between px-2"
    >
      <a href="{{ url_for('homepage') }}" class="text-5xl">Fantasy TF2</a>

      <a
        href="{{ url_for('my_profile') }}"
        class="rounded px-4 py-2 shadow-lg hover:bg-blue-300/50 hover:underline hover:dark:bg-red-800/50"
      >
        My Profile
      </a>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <main {% block mainclasses %}class="mx-auto max-w-5xl"{% endblock %}>
      {% block main %}{% endblock %}
    </main>

    <footer class="mt-12 mb-4 flex justify-center">
      <a
        href="https://tf2.spot"
        class="text-sm text-stone-500/30 hover:text-stone-500/90 hover:underline dark:text-stone-100/30 hover:dark:text-stone-100/90"
        >a tf2.spot project</a
      >
    </footer>
  </body>
</html>
