{% extends "base.jinja" %}

{% block main %}
  <table
    class="mx-auto border-separate border-spacing-x-6 border-spacing-y-2 bg-gray-100 p-4 dark:bg-red-900"
  >
    <thead>
      <tr>
        <th colspan="3" class="text-xl">Leaderboard</th>
      </tr>
      <tr>
        <td></td>
        <th>Score</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody>
      {% for fantasy in tournament.fantasy %}
        <tr>
          <td class="w-xs">
            <div class="max-w-full truncate text-lg whitespace-nowrap">
              {{ fantasy.name }}
            </div>
            <a
              href="{{ url_for('manager', id=fantasy.manager.steam_id) }}"
              class="block max-w-full truncate text-sm whitespace-nowrap"
              >by {{ fantasy.manager.name }}</a
            >
          </td>
          <td class="text-right text-5xl font-extralight tabular-nums">
            {{ fantasy.score | decimalformat("#,###.0") }}
          </td>
          <td class="text-5xl font-light">#{{ fantasy.rank }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <pre>{{ tournament |tojson(2) }}</pre>
{% endblock %}
