{% extends "base.jinja" %}

{% block title %}
  {% if manager.name is not none %}
    {{ manager.name }}
  {% else %}
    Manager #{{ manager.steam_id }}
  {% endif %}
{% endblock title %}

{% block main %}
  <pre>{{ manager | tojson(2) }}</pre>
{% endblock main %}
