{% extends "base.jinja" %}

{% set name = "Manager #" + manager.steam_id if manager.name is none else manager.name %}
{% set id = manager.steam_id %}

{% block title %}{{ name }}{% endblock %}

{% block main %}
  <div class="align-center flex flex-col">
    <div class="flex justify-center">
      <img
        class="h-46 w-46 bg-black"
        {% if manager.avatar is not none %}src="{{ manager.avatar }}"{% endif %}
      />
      <div
        class="flex flex-col justify-between bg-gray-100 p-8 pb-4 dark:bg-red-900"
      >
        <span class="text-4xl">{{ name }}</span>
        {% if manager.fetched is none %}
          <span class="text-sm text-black/33 dark:text-white/33">
            Fetching profile data from Steam...
          </span>
        {% endif %}
        <div class="flex justify-center gap-2">
          {%
            for name, url in (
              ("Steam", "https://steamcommunity.com/profiles/"),
              ("logs.tf", "https://logs.tf/profile/"),
              ("ETF2L", "https://etf2l.org/search/"),
              ("RGL", "https://rgl.gg/Public/PlayerProfile.aspx?p="),
              ("ozfortress", "https://warzone.ozfortress.com/users/steam_id/"),
            )
          %}
            <a
              class="block rounded p-4 shadow-lg hover:bg-blue-200/50 hover:underline hover:dark:bg-red-700/50"
              href="{{ url }}{{ id }}"
            >
              {{ name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <p class="text-3xl">TODO :)</p>
  </div>
{% endblock %}
