{% extends "base.jinja" %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block main %}
  <table class="border-separate border-spacing-x-6 pt-24">
    <thead>
      <tr>
        <th colspan="3">Participant</th>

        <td class="whitespace-nowrap">
          <div class="w-0 origin-left -rotate-45">Cost</div>
        </td>

        <td class="whitespace-nowrap">
          <div class="w-0 origin-left -rotate-45">Total score</div>
        </td>

        {% for coef in tournament.scoring_model.player_coefficient %}
          <td class="whitespace-nowrap">
            <div class="w-0 origin-left -rotate-45">
              {% if coef.highest %}
                Top
              {% elif coef.lowest %}
                Bottom
              {% endif %}
              {{ coef.variable.short }}
              {%- if coef.divide_by is not none %}/{{ coef.divide_by.short }}{% endif %}
            </div>
          </td>
        {% endfor %}
      </tr>
    </thead>

    {% for team in tournament.team %}
      <tbody>
        {% for participant in team.participant | sort_by_main_class %}
          <tr>
            <th>{{ team.name }}</th>
            <td>
              <img
                class="w-6"
                src="/static/class/{{ participant.main_class }}.svg"
              />
            </td>
            <td>{{ participant.player.name }}</td>

            <td class="text-right slashed-zero tabular-nums">
              ${{ participant.price }}
            </td>

            <td class="text-right slashed-zero tabular-nums">
              {{ participant.total_score[0].score }}
            </td>

            {% for coef in tournament.scoring_model.player_coefficient %}
              {% for perf in participant.perf if perf.player_coefficient.id == coef.id %}
                <td class="text-right slashed-zero tabular-nums">
                  {{ perf.total }}
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>

  <pre>{{ tournament |tojson(2) }}</pre>
{% endblock main %}
