{% extends "base.jinja" %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block main %}
<div>
  <div>
    <h1 class="text-2xl">{{ tournament.name }}</h1>
    <p>Start {{ tournament.start_time | to_now }}, {{ tournament.start_time | datetime }}</p>
    <p>End {{ tournament.end_time | to_now }}, {{ tournament.end_time | datetime }}</p>

    <a href={{ url_for('manage', slug=tournament.slug) }}>Manage your team</a>
    <a href={{ url_for('participants', slug=tournament.slug) }}>View participants</a>
  </div>

  <hr />

    <table>
      <thead>
        <tr>
          <th>Tournament ruleset</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-right">Initial budget</th>
          <td>{{ tournament.initial_budget }}</td>
        </tr>

        <tr>
          <th class="text-right">Max transactions</th>
          <td>{{ tournament.transactions }}</td>
        </tr>

        <tr>
          <th class="text-right">Max players from a single team</th>
          <td>{{ tournament.max_from_single_team }}</td>
        </tr>

        <tr>
          <th class="text-right">Team composition</th>
          <td>{{ tournament.composition.name }}</td>
        </tr>

        {% for c in ('scout', 'soldier', 'pyro', 'demoman', 'heavy', 'engineer', 'medic', 'sniper', 'spy')
           if tournament.composition[c]
        %}
          <tr>
            <td class="text-right">{{ c | capitalize }}</td>
            <td>{{ tournament.composition[c] }}</td>
          </tr>
        {% endfor %}
      
        <tr>
          <th class="text-right">Scoring model</th>
        </tr>

        {% for coef in tournament.scoring_model.player_coefficient %}    
          <tr>
            <td class="text-right">
              {% if coef.highest %}
                Top
              {% elif coef.lowest %}
                Bot
              {% endif %}
              {{ coef.variable.short }}
              {%- if coef.divide_by is not none %}/{{ coef.divide_by.short }}{% endif %}
            </td>
            <td>&times; {{ coef.score_coefficient }}</td>
          </tr>
        {% endfor %}

        {% for coef in tournament.scoring_model.team_coefficient %}    
          <tr>
            <td class="text-right">{{ coef.variable.short }}</td>
            <td>&times; {{ coef.coefficient }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <hr />

  <div>
  {% for round in tournament.upcoming_rounds %}
    <div>
      {{ round.name }},
      {{ round.time | to_now }} on {{ round.time | datetime }}
    </div>
  {% endfor %}

  {% for round in tournament.past_rounds %}
    <div>
      {{ round.name }},
      {{ round.time | to_now }} on {{ round.time | datetime }}
    </div>
  {% endfor %}
  </div>
    
  <hr />
  <pre>{{ tournament | tojson(indent=2) }}</pre>
</div>
{% endblock main %}

