{% extends "base.jinja" %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block main %}
  <div>
    <div>
      <h1 class="text-2xl">{{ tournament.name }}</h1>
      <p>from {{ temporal(tournament.start_time) }}</p>
      <p>to {{ temporal(tournament.end_time) }}</p>

      <a href="{{ url_for('manage', slug=tournament.slug) }}"
        >Manage your team</a
      >
      <a href="{{ url_for('participants', slug=tournament.slug) }}"
        >View participants</a
      >
    </div>

    <hr />

    <table>
      <thead>
        <tr>
          <th colspan="2">Tournament ruleset</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-right">Initial budget</th>
          <td class="slashed-zero tabular-nums">
            {{ tournament.initial_budget }}
          </td>
        </tr>

        <tr>
          <th class="text-right">Max transactions</th>
          <td class="slashed-zero tabular-nums">
            {{ tournament.transactions }}
          </td>
        </tr>

        <tr>
          <th class="text-right">Max players from a single team</th>
          <td class="slashed-zero tabular-nums">
            {{ tournament.max_from_single_team }}
          </td>
        </tr>

        <tr>
          <th class="text-right">Team composition</th>
          <td>{{ tournament.composition.name }}</td>
        </tr>

        {%
          for c in ('scout', 'soldier', 'pyro', 'demoman', 'heavy', 'engineer', 'medic', 'sniper', 'spy')
          if tournament.composition[c]
        %}
          <tr>
            <td class="text-right">{{ c | capitalize }}</td>
            <td class="tabular-nums">{{ tournament.composition[c] }}</td>
          </tr>
        {% endfor %}

        <tr>
          <th class="text-right">Scoring model</th>
        </tr>

        {% for coef in tournament.scoring_model.player_coefficient %}
          <tr>
            <td class="text-right">
              {% if coef.highest %}
                Top
              {% elif coef.lowest %}
                Bot
              {% endif %}
              {{ coef.variable.short }}
              {%- if coef.divide_by is not none %}/{{ coef.divide_by.short }}{% endif %}
            </td>
            <td class="slashed-zero tabular-nums">
              &times; {{ coef.coefficient }}
            </td>
          </tr>
        {% endfor %}

        {% for coef in tournament.scoring_model.team_coefficient %}
          <tr>
            <td class="text-right">{{ coef.variable.short }}</td>
            <td class="slashed-zero tabular-nums">
              &times; {{ coef.coefficient }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr />

    <div>
      {% for round in tournament.upcoming_rounds %}
        <div>
          {{ round.name }},
          <span class="temporal" data-ts="{{ round.time }}"
            >{{ round.time }}</span
          >
        </div>
      {% else %}
        <p>No upcoming rounds</p>
      {% endfor %}

      {% for round in tournament.past_rounds %}
        <div>{{ round.name }}, {{ temporal(round.time) }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}
